# Prerequisites
*.d

# Image files
*.bin
*.img
*.iso

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# CMake Build System
**/bin/
**/bld/
**/build/
**/builds/
**/win/
**/winstatic/
**/winja/
**/windows/
**/lnx/
**/lnxstatic/
**/linux/
**/linuxstatic/
**/make/
**/mk/
**/ninja/
**/debug/
**/dbg/
**/rls/
**/release/
**/tst/
**/test/
**/testing/

# Backups
**/*.tmp*
**/*.temp*
**/*~
**/#*#
**/.#*
**/*.backup
**/.swp

# clangd
**/compile_commands.json
**/.cache/

# cinclude2dot
**/include_visualization/